.card-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.character-card {
  width: 28%;
  padding: 20px;
  margin: 20px 0;
  background: lightgrey;
  cursor: pointer;
  transition: all .2s;
}

.character-card:hover {
  background: darkgrey;
  transition: all .4s;
}

/* 
.detail-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -50% auto;
}

.modal-information {
  border: 1px solid white;
  z-index: 1;
  background: darkgrey;
  height: 50vh;
  width: 70%;

} */